.def {
  border: 1px solid black;
  border-radius: 100px;
  height: 8rem;
  width: 54%;
  margin-left: 23%;
}

.def-child {
  margin-left: 20%;
  margin-right: 20%;

}

.answer-input {
  width: 20%;
  height: 3rem;
  margin-left: 40%;
}

.hint-btn {
  width: 10%;
  height: 2rem;
  margin-left: 45%;
}

.guess-btn {
  width: 18%;
  height: 3rem;
  margin-left: 41%;
}
